@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.nav--border {
  background-color: rgba(15, 65, 129, 0.8);
  border-bottom: 1px solid red;
  // height: 60px;
  color: #dfdfdf;
}

.footer--bar {
  background-color: rgba(15, 65, 129, 0.8);
  border-top: 1px solid red;
  height: 50px;
  text-align: right;
  padding-right: 10px;
  padding-top: 20px;
  color: #dfdfdf;
}

.fa--light {
  color: #dfdfdf;
}

nav.pagination {
  display: none;
}