<div class="container my-5">
  <h4 class="text-center mx-auto"><%= t ".title" %></h4>

  <div class="card">
    <div class="row no-gutters">
      <div class="card-body col-lg-11 mx-auto">
        <%= render "form", post: @post %>
      </div>
    </div>
  </div>
</div>

