  <div class="col-lg-8 mx-auto">
    <div class="logo col-lg-12 mb-3 text-center">
      <h4><%= t ".title" %></h4>
    </div>

    <div class="card">
      <div class="row no-gutters">
        <div class="card-body col-lg-11 mx-auto">
          <%= render "form", post: @post %>
        </div>
      </div>
    </div>
  </div>
