<div class="col-lg-8 mx-auto">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-lg-11">
        <div class="card-title">
          <%= simple_format (@post.title) %>
        </div>
        <div class="card-body">
          <%= simple_format (@post.body) %>
        </div>
      </div>
    </div>
  </div>
  <p>
    <%= link_to "編集", edit_post_path(@post), class: "btn btn-block btn-primary col-lg-11 mx-auto" %>
  </p>
</div>